*
{
	font-family: Arial;
}

.reservation, .date-horaire, .qui, .organisateur, .telephone, .disposition, .objet, .nbparticipants, .listeparticipants, .participant, li
{
    color: black;
	font-size: small;
	text-align: justify;
	width: 100%;
    min-width: 400px;
	margin: auto;
	margin-top: none;
	margin-bottom: none;
	padding: 1px;
	word-wrap: break-word;
}

.date-horaire
{
	font-weight: bold;
}

ul
{
	margin-bottom: 1px;
	margin-top: 1px;
	padding-left: 1px;
	list-style-type: none;
	
}

.mois
{
	font-size: x-large;
	text-align: center;
}

.jour
{
	font-size: large;
	text-align: center;
}

.equipement
{
	font-size: small;
	text-align: center;
	margin-bottom: 1px;
	margin-top: 1px;
	text-decoration: underline;
}

.alimentaire
{	
	font-size: small;
	text-align: center;
	margin-bottom: 1px;
	margin-top: 1px;
	text-decoration: underline;
}

.nbparticipants
{
	text-decoration: underline;
}

.nbparticipants em
{
	background-color: aqua;
}

.alimentaire em
{
	background-color: lime;
}

.equipement em
{
	background-color: yellow;
}

.section
{
    display: inline-block;    
    border: 1px solid black;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
}

em
{
	font-style: normal;
	text-decoration: underline;
}

strong
{
	font-weight: bold;
}
